:root {
  --clr-primary1-500: #e5e5e5;
  --clr-white-500: #ffffff;
  --clr-h1-900: #0a033c;
  --clr-p-900: #0a033c;
  --clr-p-500: #9c4df4;
  --clr-background-600: #ff6652;
  --clr-star-600: #ffc107;

  --ff-primary: Arial, Helvetica, sans-serif;
}

* {
  margin: 00;
  padding: 00;
  box-sizing: border-box;
}
body {
  background: var(--clr-primary1-500);
}
a {
  text-decoration: none;
  list-style: none;
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: var(--clr-h1-900);
  cursor: pointer;
}
a:hover {
  color: var(--clr-p-500);
}
a p:hover {
  color: var(--clr-p-500);
}
li {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--ff-primary);
  list-style: none;
  text-decoration: none;
}
h1 {
  font-family: var(--ff-primary);
  font-size: 2.87rem;
  line-height: 3rem;
  font-weight: 900;
  padding: 1rem;
  text-align: center;
  color: var(--clr-h1-900);
  text-decoration: none;
}
h2 {
  font-family: var(--ff-primary);
  font-size: 1.87rem;
  line-height: 3rem;
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
  color: var(--clr-h1-900);
  text-decoration: none;
}
h3 {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0.25rem;
  text-align: center;
  color: var(--clr-h1-900);
  text-decoration: none;
}
p {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--clr-p-900);
  text-align: center;
  padding: 0.25rem;
  text-decoration: none;
}
button {
  font-size: 1rem;
  font-family: var(--ff-primary);
  color: var(--clr-p-900);
  background: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 6rem;
}
button:hover {
  background: var(--clr-p-500);
  color: #ffffff;
}

option {
  font-size: 1rem;
  font-family: var(--ff-primary);
  color: var(--clr-p-900);
  border: none;
  outline: none;
  cursor: pointer;
}
select {
  font-size: 1rem;
  font-family: var(--ff-primary);
  color: var(--clr-p-900);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* HEADER */

.upper-nav {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.logo {
  margin-top: 1rem;
  max-width: 7.125rem;
  max-height: 1.875rem;
}
.manu {
  margin-top: 1rem;
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.manu li {
  padding: 0.5rem 1.25rem;
  cursor: pointer;
}
.manu li a:hover {
  color: var(--clr-p-500);
}
.manu select:hover {
  color: var(--clr-p-500);
}
.cr-ac {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart {
  margin-right: 1rem;
}
.cart a {
  display: flex;
}
.cart i {
  color: var(--clr-background-600);
  justify-content: flex-end;
  align-items: center;
  margin: 0.3rem 0.125rem;
  font-size: 1.25rem;
}
.account a {
  display: flex;
}
.account i {
  color: var(--clr-p-500);
  justify-content: flex-end;
  align-items: center;
  margin: 0.3rem 0.125rem;
  font-size: 1.25rem;
}
@media (max-width: 40em) {
  .manu {
    flex-direction: column;
    gap: 1rem;
    inset: 00 00 00 40%;
    background: hsl(0 0% 0%/0.05);
    backdrop-filter: blur(1rem);
    padding: 4rem 0.5rem;
    border-radius: 1rem;
    margin: 00 1.5rem;
  }
  .manu li {
    padding: 0rem 0rem;
  }
  .cr-ac {
    flex-direction: column;
    background: hsl(0 0% 0%/0.05);
    backdrop-filter: blur(1rem);
    padding: 4rem 0.5rem;
    border-radius: 1rem;
    margin-top: 00rem;
  }
  .cart i {
    margin: 0.3rem 0.125rem;
  }
  .account i {
    margin: 00rem 0.125rem;
    font-size: 1.5rem;
  }
}
.header-image {
  max-width: 90%;
  margin-inline: auto;
  background-image: url(image3/Bg-a.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.header-image-text {
  flex-basis: 100%;
}
.header-image-text p {
  color: var(--clr-p-500);
  margin: 1rem 00rem 00rem 1rem;
  text-align: left;
}
.header-image-text h1 {
  max-width: 25rem;
  font-size: 2rem;
  text-align: start;
  margin-left: 7rem;
}
.home {
  color: var(--clr-p-900);
}
.header-image-img {
  background-image: linear-gradient(00 00) url(image3/Ellipse\ 170.png);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding: 1rem 7rem 1rem 1rem;
  border-radius: 1rem 1rem 00 00;
}

@media (max-width: 40em) {
  .header {
    flex-direction: column;
  }
  .header-image {
    flex-direction: column;
    margin-top: 1rem;
  }
  .header-image h1 {
    text-align: center;
    margin-left: 1rem;
  }
  .header-image-img {
    padding: 1rem 1rem;
  }
}

/* HOVERED */

.hobberd {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin-inline: auto;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.h-m-1{
  display: flex;
  flex-basis: 50%;
  margin-inline: auto;
  justify-content: space-between;
}
.h-m-2{
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  margin-inline: auto;
}
.hobberd button {
  min-width: 9rem;
}
@media (max-width: 40em) {
  .hobberd {
    flex-direction: column;
  }
  .h-m-1 {
    margin-top: 1rem;
  }
  .h-m-2 {
    margin-top: 1rem;
  }
  .h-m-1 button {
    font-size: 0.5rem;
  }
  .h-m-2 button {
    font-size: 0.5rem;
  }
  .hobberd button {
    min-width: 6rem;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }
}

/* STANDARD CLASS */
.standard-classes {
  max-width: 90%;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.standard-classes h2 {
  text-align: start;
  margin: 1rem 00;
}
.std-container {
  min-width: 100%;
  margin-inline: auto;
}
.std-1-4 {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.std-5-8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.std-9-11 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.std-paired {
  display: flex;
  justify-content: space-between;
}
.std {
  background-image: url(image3/bg-std.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  padding: 2.5rem 3.2rem;
  margin: 00rem 00 00rem 0.5rem;
}
.std p {
  max-width: 12rem;
}
.std img {
  display: block;
  min-width: 3rem;
  margin-inline: auto;
  margin-top: 1rem;
}
.std button {
  display: block;
  border: 1px solid var(--clr-p-500);
  color: var(--clr-p-500);
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.std button:hover {
  color: var(--clr-white-500);
}
@media (max-width: 40em) {
  .std-1-4 {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 00rem;
  }
  .std-5-8 {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 00rem;
  }
  .std-9-11 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .std-paired {
    margin-top: 1rem;
  }
  .std {
    border: 0.5px solid var(--clr-p-500);
  }
  .std p {
    max-width: 7rem;
    font-size: 0.5rem;
    padding: 00 00 00 00;
    margin: 00 00 00;
  }
  .std h3 {
    font-size: 0.75rem;
    padding: 0.125rem;
    margin: 00 00 00;
  }
  .std img {
    max-width: 30%;
    padding: 0.125rem;
    margin-top: 00rem;
    margin-bottom: 00;
  }
  .std button {
    max-width: 3rem;
    font-size: 0.5rem;
    padding: 0.125rem 0.5rem;
    margin-left: .5rem;
    display: block;
  }
}

/* OTHER COURSES */

.other-courses {
  max-width: 90%;
  margin-inline: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.other-courses-top {
  max-width: 100%;
  margin-bottom: 1rem;
}
.other-courses-top h2 {
  text-align: start;
  padding: 0.5rem;
}
.search-pannel {
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sp-left {
  background-image: url(image3/bg-search-pannel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  border-radius: 0.5rem;
  background: var(--clr-white-500);
  padding: 0.25rem;
  margin-right: 2rem;
}
.sp-left input {
  min-width: 45rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.slct {
  background-image: url(image3/bg-slct.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem 9.5rem 0.75rem 2rem;
  border-radius: 0.5rem;
}
.slct p {
  font-family: var(--ff-primary);
  font-size: 1rem;
  min-width: 5rem;
  padding: 0.25rem 0.5rem;
  color: var(--clr-p-900);
  font-weight: 500;
}
.slct select:hover {
  color: var(--clr-p-500);
}
@media (max-width: 40em) {
  .sp-left {
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin-left: 1.5rem;
  }
  .sp-left input {
    min-width: 15.5rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .sp-left button {
    justify-content: flex-end;
    margin-left: 1rem;
    padding: 0.5rem 0.5rem;
    display: block;
    min-width: 7rem;
  }
  .search-pannel {
    flex-direction: column;
    justify-content: space-around;
  }
  .slct {
    margin-top: 1rem;
  }
}

/* pto-page */
.pto-page {
  background: none;
  margin: 2rem 00;
}
.pto {
  background: url(image3/BG-pto.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  padding: 1rem 10rem 1rem 1rem;
  background-color: red;
}

.pto-copple {
  display: flex;
  justify-content: space-between;
}
.pto-sub {
  min-width: 15rem;
  text-align: start;
  margin-left: 0.5rem;
}
.pto-sub img {
  margin-left: 1.5rem;
}
.pto-sub p {
  color: var(--clr-background-600);
  margin-left: -9rem;
}
@media (max-width: 40em) {
  .pto-copple {
    flex-direction: column;
  }
  .pto-sub {
    min-width: 15rem;
    margin-inline: uto;
  }
}
.slider-container {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 00;
}
.slider {
  max-width: 17.3rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.slider input {
  max-width: 3rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  padding: 0rem 0.75rem;
  font: 1.25rem;
}
.slider i {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.slider i:hover {
  background: var(--clr-p-500);
  color: var(--clr-white-500);
}
@media (max-width: 40em) {
  .slider {
    margin-inline: auto;
    margin-bottom: 1rem;
  }
}
/* FOOTER */

.container-footer1 {
  max-width: 90%;
  margin-inline: auto;
}
.subscribe {
  max-width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-h1-900);
  padding: 2rem 00 4rem 00;
  border-radius: 1rem;
  margin: 1rem 00;
}
.subscribe h1 {
  color: var(--clr-white-500);
  max-width: 45rem;
  margin: 1rem 00 1rem 00;
}
.subscribe p {
  color: var(--clr-white-500);
}
.subscribe-pannel {
  max-width: 25rem;
  padding: 0.5rem 0.5rem;
}
.subscribe input {
  background: var(--clr-p-500);
  color: var(--clr-white-500);
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.subscribe input::-webkit-input-placeholder {
  color: var(--clr-white-500);
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
.container-footer2 {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.container-footer2 p{
  text-align: start;
}
.container-footer2 h3{
  text-align: start;
}
.logo-f img{
padding: .25rem;
margin-bottom: 1rem;
}
.lfs-icon i{
  padding: .25rem;
  color: var(--clr-p-900);
  margin-bottom: .5rem;
}
.lfs-icon i:nth-child(2){
  color: var(--clr-background-600);
}
@media (max-width:40em){
  .container-footer2{
    justify-content: center;
  }
  .ligo{
    text-align: start;
  }
}